body {
    background-color: aqua;
    text-align: center;
}

main {
    width: 90%;
    margin: 0 auto;
}

h3 {
    text-align: left;
}

a {
    text-decoration: none;
}

.day {
    font-size: 1.4em;
}

.group {
    display: inline-block;
    width: 120px;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
}

.group img {
  object-fit: cover;
    width: 100px;
    height: 100px;
    padding-bottom: 0px;
}

.event {
    background-color: aquamarine;
    margin: 10px 0px;
}

.event .numbers, .event .details {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    margin: 0 auto;
}

.event .numbers {
    width: 20%;
}

.event .details {
    text-align: left;
    width: 70%;
}

.generate, .groups, .search, .sort, .select {
    padding: 10px 0px;
}

.types input {
    margin: 5px;
}

.group input {
    display: none;
}

label {
  display: block;
  position: relative;
}

:checked + label img {
    opacity: 0.2;
}